.curtain .title{
    font-size:150%;
    margin-left: 60px;
    margin-bottom: 0px;

}

.curtain ul{
    list-style: none;
    font-size:100%;
    margin-left: 20px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1280px) {
    .curtain .title{
        font-size:170%;

    }

    .curtain ul{
        list-style: none;
        font-size:150%;
        margin-bottom: 0px;
    }

    .social_media img{
        width: 6%;
    }

    .line{
        border: white;
        border-style: solid;
        margin-top:15px;
        margin-left: 60px;
        width:55%;
    }
}
@media only screen and (min-width: 1285px) {
    .curtain .title{
        font-size:270%;
        margin-left: 60px;
        margin-top: 10%;
    }

    .curtain ul{
        list-style: none;
        font-size:200%;
        margin-left: 20px;
        text-transform: uppercase;
        margin-bottom:30px;
    }
    .social_media img{
        width: 8%;
    }

    .line{
        border: white;
        border-style: solid;
        margin-top:15px;
        margin-bottom:30px;
        margin-left: 60px;
        width:55%;
    }

}
.container {
    height:100%;
    background:black;
    color:#fff;


}

.curtain {
    background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 65%, rgba(110, 110, 110, 0) 100%);
    overflow: visible;
    height:100%;
    width: 100vh;
    position: absolute;
}

.side_navigation li a:hover{
    cursor:pointer;
    filter: brightness(30%);
}

.side_navigation{
    cursor:pointer;
    width: 400px;
}
.side_navigation li a{
    color: #fff;
    text-decoration: none;
}

.curtain .photo_gustav {
    height: 30%;
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 30px;
    background: url(/static/photo_gustav.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: center center;

    -webkit-box-shadow: 0 0 0.7em 0.9em black inset ;
    -moz-box-shadow: 0 0 0.7em 0.9em black inset ;
    box-shadow: 0 0 0.7em 0.9em black inset ;

}




.curtain ul li{
    margin-bottom:10px;
}

.left_row{
    float: left;
    width: 30%;
    height:100vh;


}



.social_media{
    margin-left: 60px;
}

.social_media a{
    color:transparent;
}

.social_media img{
    margin: 10px;
    max-width: 64px;

}

.social_media img:hover{
    filter: brightness(30%);
}

[class*="right_row"]{
    float: right;
    width: 70%;
    height:100vh;
    background: url('/static/background_medium_1920_2399.jpg');
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position: center center;
}

.section_content{
    position: relative;
    left: 300px;
    width: 50%;

}


