<html>
<head>
<title>Mood predicition</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% load staticfiles %}
<script src="{% static 'blog/js/draw.js' %}"></script>
 <link rel="stylesheet" href="{% static 'blog/css/draw.css' %}">
</head>

<body onload="init()">
<div class="container">
    <div id="input_parameter" class="row">
        <h1>Predict mood based on photo + drawing</h1>
        <div id="draw_div" class="col">
            <div id="sketchpadapp">
                <div class="rightside">
                    <canvas id="sketchpad" height="400" width="400">
                    </canvas>
                    <input type="submit" value="Clear Sketchpad" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                </div>
            </div>
        </div>
        <div id="middle_div" class="col">
            <p>+</p>
        </div>
        <div id="img_div" class="col">
            <form action="" method="post" enctype="multipart/form-data" onsubmit="AJAXSubmit(this); return false;">
                <fieldset>
                    <p>
                      <input type="text" name="upload_preset" value="portfolio" style="display:none">
                    </p>
                    <p>
                      <label >Select your photo:
                      <input  onchange="readURL(this)" id="imgInp" type="file" accept="image/*" capture="camera" name="file"></label>
                        <img id="img_review" src="#" alt="your image" />
                    </p>
                    <img id="uploaded">
                    <div id="results"></div>
                </fieldset>
                <div id="sumit_div" >
                    <input id="submit_btn" type="submit" value="Submit" onclick="predication()" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
