<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ section.title }}</title>
 </head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}">



<!--<body style="background-image: url('{% static 'background_medium_1920_2399.jpg' %}">-->
<!--            <div class="col" style="background-image: url("{% static 'background_small_640_799.jpg' %}">-->
<body >
<div class="container">
    <div class="curtain">
        <div class="photo_gustav"></div>
        <p class="title">
            Hi,<br>
            I'm Gustav<br>
            an AI Full-Stack Developer
        </p>
        <div class="line"></div>
        <ul class="side_navigation">
            <li><a href="/skills">Skills</a></li>
             {% block content %}
            {% endblock %}
            <li><a href="/projects">Projects</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="social_media">
            <a href= "mailto:gustavwillig@gmail.com">
               <img src="{% static 'mail.png' %}">
            </a>
            <a href="https://www.linkedin.com/in/gustavwillig/">
                <img src="{% static 'linkedin.png' %}">
            </a>
            <a href="https://github.com/gwillig">
                <img src="{% static 'github.png' %}">
            </a>
            <img style="visibility:hidden" src="{% static 'bot.png' %}">
        </div>
    </div>
    <div>

    </div>
    <div class="left_row">
        a
    </div>
    <div class="right_row" >
        b
    </div>
</div>
</body>
</html>